:root {
  --color-light: rgb(221, 221, 221);
  --color-boder: rgb(151, 151, 151);
  --color-dark: rgb(32, 32, 32);
}

.Header {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Header h1 {
  width: 100%;
  text-align: center;
}
.Header-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.button-light {
  background-color: var(--color-light);
  border: 1px solid var(--color-boder);
  width: 75px;
  height: 25px;
}
.button-light:hover {
  background-color: var(--color-dark);
  color: white;
  transform: scale(0.9);
  transition: 0.5s;
}
.button-dark {
  background-color: var(--color-dark);
  border: 1px solid var(--color-boder);
  color: white;
  width: 75px;
  height: 25px;
}
.button-dark:hover {
  background-color: var(--color-light);
  color: black;
  transform: scale(0.9);
  transition: 0.5s;
}
.button {
  width: 7rem;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .Header {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .Header h1 {
    font-size: 2rem;
    width: 300px;
  }
  .Header-button {
    padding: 0;
  }
}
