.Header {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Header h1 {
    width: 100%;
    text-align: center;
}
.Header-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.button-light {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(151, 151, 151);
    width: 75px;
    height: 25px;
}
.button-light:hover {
   background-color: rgb(32, 32, 32);
   color: white;
   transition: 0.7s;
}
.button-dark {
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(151, 151, 151);
    color: white;
    width: 75px;
    height: 25px;
}
.button-dark:hover {
    background-color: rgb(221, 221, 221);
    color: black;
    transition: 1s;
 }
.button {
    border-radius: 10px;
}
@media (max-width: 500px) {
    .Header {
        display: flex;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .Header h1{
        font-size: 2rem;
        width: 300px;
    }
    .Header-button {
        padding: 0;
    }
}